# Operators and Expressions

In this notebook you will learn to:

- Use arithmetic operators to perform calculations
- Understand expressions and order of operations
- Call built-in functions like `round` and `abs`
- Create and manipulate strings
- Distinguish between types (`int`, `float`, `str`) and convert between them

If you are not familiar with Jupyter notebooks,
[click here for a short introduction](https://colab.research.google.com/github/AllenDowney/ThinkPython/blob/v3/chapters/jupyter_intro.ipynb).

## Arithmetic operators

An **arithmetic operator** is a symbol that represents an arithmetic computation. For example, the plus sign, `+`, performs addition.

In [ ]:
30 + 12

The minus sign, `-`, is the operator that performs subtraction.

In [ ]:
43 - 1

The asterisk, `*`,  performs multiplication.

In [ ]:
6 * 7

And the forward slash, `/`, performs division:

In [ ]:
84 / 2

Notice that the result of the division is `42.0` rather than `42`. That's because there are two types of numbers in Python:

* **integers**, which represent whole numbers, and

* **floating-point numbers**, which represent numbers with a decimal point.

If you add, subtract, or multiply two integers, the result is an integer.
But if you divide two integers, the result is a floating-point number.
Python provides another operator, `//`, that performs **integer division**.
The result of integer division is always an integer.

In [ ]:
84 // 2

Integer division is also called "floor division" because it always rounds down (toward the "floor").

In [ ]:
85 // 2

The **modulus operator**, `%`, returns the remainder of a division.

In [ ]:
85 % 2

When you divide 85 by 2, you get 42 with a remainder of 1. The `//` operator gives you the quotient (42), and the `%` operator gives you the remainder (1).

These two operators work well together. For example, if we have 135 total minutes, we can find the hours and remaining minutes separately:

In [ ]:
135 // 60

In [ ]:
135 % 60

That's 2 hours and 15 minutes.

Finally, the operator `**` performs exponentiation; that is, it raises a
number to a power:

In [ ]:
7 ** 2

### Exercise: Calculator Practice

**Predict first, then verify:** Compute each by hand before running the code.

1. What is `15 // 4`? What is `15 % 4`?
2. What is `2 ** 3 ** 2`? (Does exponentiation evaluate left-to-right or right-to-left?)
3. What is `-17 // 5`? What is `-17 % 5`? (Careful — floor division and modulus with negatives may surprise you)
4. You can use a minus sign to make a negative number like `-2`. What happens if you put a plus sign before a number? What about `2++2`?

In [ ]:
# your code here

#### Solution

*Note: In Python, text after a `#` symbol is a "comment" — it's ignored by Python and is just for humans reading the code. We'll cover comments properly in the next notebook.*

**1.** `15 // 4` is 3 (quotient); `15 % 4` is 3 (remainder, since 15 = 4×3 + 3)

In [ ]:
15 // 4

In [ ]:
15 % 4

**2.** `2 ** 3 ** 2` is 512, not 64! Exponentiation is right-to-left: `2 ** (3 ** 2)` = `2 ** 9` = 512

In [ ]:
2 ** 3 ** 2

**3.** `-17 // 5` is -4 (not -3!); `-17 % 5` is 3 (not -2!). Floor division rounds toward negative infinity: -17 / 5 = -3.4, floor is -4. Check: -4 × 5 + 3 = -17 ✓

In [ ]:
-17 // 5

In [ ]:
-17 % 5

**4.** Unary plus is valid but has no effect. `2++2` is interpreted as `2 + (+2)` = 4

In [ ]:
+2

In [ ]:
2++2

## Expressions

A collection of operators and numbers is called an **expression**.
An expression can contain any number of operators and numbers.
For example, here's an expression that contains two operators.

In [ ]:
6 + 6 ** 2

Notice that exponentiation happens before addition.
Python follows the order of operations you might have learned in a math class: exponentiation happens before multiplication and division, which happen before addition and subtraction.

In the following example, multiplication happens before addition.

In [ ]:
12 + 5 * 6

If you want the addition to happen first, you can use parentheses.

In [ ]:
(12 + 5) * 6

Every expression has a **value**.
For example, the expression `6 * 7` has the value `42`.

> **Check your understanding:** What makes `6 + 6 ** 2` an expression? What happens when Python evaluates it?

### Exercise: Order of Operations

**Predict first, then verify:** Write down your answer before running the code.

1. `2 + 3 * 4`
2. `(2 + 3) * 4`
3. `10 - 3 - 2`
4. `2 ** 2 ** 3`
5. `100 // 3 // 2`
6. What happens if you have two values with no operator between them, like `4 2`?

For any you got wrong, explain why.

In [ ]:
# your code here

#### Solution

**1.** 14 (multiplication first)

In [ ]:
2 + 3 * 4

**2.** 20 (parentheses override default precedence)

In [ ]:
(2 + 3) * 4

**3.** 5 (subtraction is left-to-right)

In [ ]:
10 - 3 - 2

**4.** 256 (exponentiation is right-to-left: `2 ** (2 ** 3)` = `2 ** 8`)

In [ ]:
2 ** 2 ** 3

**5.** 16 (integer division is left-to-right: `33 // 2`)

In [ ]:
100 // 3 // 2

**6.** SyntaxError — Python expects an operator between values

In [ ]:
4 2

## Arithmetic functions

In addition to the arithmetic operators, Python provides a few **functions** that work with numbers.
For example, the `round` function takes a floating-point number and rounds it off to the nearest whole number.

In [ ]:
round(42.4)

In [ ]:
round(42.6)

The `abs` function computes the absolute value of a number.
For a positive number, the absolute value is the number itself.

In [ ]:
abs(42)

For a negative number, the absolute value is positive.

In [ ]:
abs(-42)

When we use a function like this, we say we're **calling** the function.
An expression that calls a function is a **function call**.

When you call a function, the parentheses are required.
If you leave them out, you get an error message.

In [ ]:
abs 42

You can ignore the first line of this message; it doesn't contain any information we need to understand right now.
The second line is the code that contains the error, with a caret (`^`) beneath it to indicate where the error was discovered.

The last line indicates that this is a **syntax error**, which means that there is something wrong with the structure of the expression.
In this example, the problem is that a function call requires parentheses.

Let's see what happens if you leave out the parentheses *and* the value.

In [ ]:
abs

A function name all by itself is a legal expression that has a value.
When it's displayed, the value indicates that `abs` is a function, and it includes some additional information I'll explain later.

### Exercise: Rounding Behavior

**Predict first, then verify:**

1. What does `round(2.5)` return? What about `round(3.5)`? Can you figure out the rule Python uses for values exactly halfway between two integers?
2. What is `abs(-5) + abs(5)`?
3. If you call a function like `round(42.5)`, what happens if you leave out one or both parentheses?

In [ ]:
# your code here

#### Solution

**1.** `round(2.5)` returns 2; `round(3.5)` returns 4. Python uses "banker's rounding" — it rounds to the nearest *even* number when exactly halfway. This reduces bias when rounding many values.

In [ ]:
round(2.5)

In [ ]:
round(3.5)

**2.** 10

In [ ]:
abs(-5) + abs(5)

**3.** Without parentheses, `round` by itself is just the function object (not a call). With a space instead of parentheses, you get a SyntaxError.

In [ ]:
round

In [ ]:
round 42.5

## Strings

In addition to numbers, Python can also represent sequences of letters, which are called **strings** because the letters are strung together like beads on a necklace. Here we'll cover the basics; we'll explore strings in much more depth later.

To write a string, we can put a sequence of letters inside straight quotation marks.

In [ ]:
'Hello'

It is also legal to use double quotation marks.

In [ ]:
"world"

Double quotes make it easy to write a string that contains an apostrophe, which is the same symbol as a straight quote.

In [ ]:
"it's a small "

Strings can also contain spaces, punctuation, and digits.

In [ ]:
'Well, '

The `+` operator works with strings; it joins two strings into a single string, which is called **concatenation**.

In [ ]:
'Well, ' + "it's a small " + 'world.'

The `*` operator also works with strings; it makes multiple copies of a string and concatenates them.

In [ ]:
'Spam, ' * 4

The other arithmetic operators don't work with strings.

Python provides a function called `len` that computes the length of a string.

In [ ]:
len('Spam')

Notice that `len` counts the letters between the quotes, but not the quotes.

When you create a string, be sure to use straight quotes.
The back quote, also known as a backtick, causes a syntax error.

In [ ]:
`Hello`

Smart quotes, also known as curly quotes, are also illegal.

In [ ]:
'Hello'

### Exercise: String Building

Using only the `+` and `*` operators:

1. Create the string `'=-=-=-=-=-='` from shorter pieces
2. Create the string `'HoHoHo'` from `'Ho'`
3. What is `len('Hello' + ' ' + 'World')`? Predict first, then verify.

In [ ]:
# your code here

#### Solution

**1.** `'=-=-=-=-=-='`

In [ ]:
'=' + '-=' * 5

**2.** `'HoHoHo'`

In [ ]:
'Ho' * 3

**3.** 11 (5 + 1 + 5)

In [ ]:
len('Hello' + ' ' + 'World')

## Values and types

So far we've seen three kinds of values:

* `2` is an integer,

* `42.0` is a floating-point number, and

* `'Hello'` is a string.

A kind of value is called a **type**.
Every value has a type -- or we sometimes say it "belongs to" a type.

Python provides a function called `type` that tells you the type of any value.
The type of an integer is `int`.

In [ ]:
type(2)

The type of a floating-point number is `float`.

In [ ]:
type(42.0)

And the type of a string is `str`.

In [ ]:
type('Hello, World!')

The types `int`, `float`, and `str` can be used as functions.
For example, `int` can take a floating-point number and convert it to an integer (always rounding down).

In [ ]:
int(42.9)

And `float` can convert an integer to a floating-point value.

In [ ]:
float(42)

Now, here's something that can be confusing.
What do you get if you put a sequence of digits in quotes?

In [ ]:
'126'

It looks like a number, but it is actually a string.

In [ ]:
type('126')

If you try to use it like a number, you might get an error.

In [ ]:
'126' / 3

This example generates a `TypeError`, which means that the values in the expression, which are called **operands**, have the wrong type.
The error message indicates that the `/` operator does not support the types of these values, which are `str` and `int`.

If you have a string that contains digits, you can use `int` to convert it to an integer.

In [ ]:
int('126') / 3

If you have a string that contains digits and a decimal point, you can use `float` to convert it to a floating-point number.

In [ ]:
float('12.6')

When you write a large integer, you might be tempted to use commas
between groups of digits, as in `1,000,000`.
This is a legal expression in Python, but the result is not an integer.

In [ ]:
1,000,000

Python interprets `1,000,000` as a comma-separated sequence of integers.
We'll learn more about this kind of sequence later.

You can use underscores to make large numbers easier to read.

In [ ]:
1_000_000

> **Check your understanding:** If I type `'42'` and `42`, are these the same thing? Why or why not?

### Exercise: Knowing Types

Predict the type of each expression, then verify with `type()`:

1. `42`
2. `42.0`
3. `'42'`
4. `42 / 1`
5. `42 // 1`
6. `int(3.9) + float(2)`

In [ ]:
# your code here

#### Solution

**1.** `int`

In [ ]:
type(42)

**2.** `float`

In [ ]:
type(42.0)

**3.** `str`

In [ ]:
type('42')

**4.** `float` — division *always* returns a float, even when it divides evenly

In [ ]:
type(42 / 1)

**5.** `int` — integer division returns an int

In [ ]:
type(42 // 1)

**6.** `float` — when you mix int and float, the result is float

In [ ]:
type(int(3.9) + float(2))

## Common Gotchas

Here are some common mistakes and surprises that trip up beginners.

*Note: The examples below use `print()`, which displays values on screen. We'll cover `print()` properly in the next notebook — for now, just focus on what the output tells you about how Python works.*

**Division always returns a float**

Even when dividing two integers that divide evenly, `/` returns a floating-point number. Use `//` if you need an integer result.

In [ ]:
print(4 / 2)      # 2.0, not 2
print(type(4 / 2))  # float
print(4 // 2)     # 2
print(type(4 // 2))  # int

**Integer division floors toward negative infinity**

With positive numbers, `//` behaves like truncation. But with negative numbers, it rounds *down* (toward negative infinity), which can be surprising.

In [ ]:
print(7 // 2)    # 3 (as expected)
print(-7 // 2)   # -4 (not -3!)
# -7 / 2 = -3.5, and the floor of -3.5 is -4

**Mixing types can cause errors**

Python is strict about what operations work with what types. Trying to combine incompatible types — like dividing a string by a number, or adding a string to an integer — will fail. These errors are common and sometimes confusing because the values might *look* compatible.

In [ ]:
'100' + 50  # Can't add string and int

In [ ]:
# Fix by converting to matching types:
print(int('100') + 50)   # 150 (both are integers)
print('100' + str(50))   # '10050' (both are strings)

**Commas create tuples, not large numbers**

Using commas to format large numbers doesn't work — Python interprets the commas as separators between multiple values.

In [ ]:
print(1,000,000)        # Prints: 1 0 0 (three separate values!)
print(type((1,000,000)))  # tuple
print(1_000_000)        # Use underscores instead: 1000000

**The caret `^` is not exponentiation**

In many languages (JavaScript, MATLAB, etc.), `^` means "raise to the power of." In Python, `^` is a bitwise XOR operator — something completely different. Use `**` for exponentiation.

In [ ]:
print(2 ^ 3)   # XOR, not exponentiation — returns 1
print(2 ** 3)  # Exponentiation — returns 8

**Watch your quotes**

Curly quotes (often inserted by word processors) and backticks cause syntax errors. Always use straight single (`'`) or double (`"`) quotes.

In [ ]:
'Hello'  # Curly quotes - syntax error

**Misleading error line numbers**

When you forget a closing parenthesis or quote, Python often reports the error on a *later* line — because it doesn't realize there's a problem until it encounters something unexpected. If you see a syntax error, check the lines *above* for unclosed parentheses, brackets, or quotes.

In [ ]:
# The error is on line 1 (missing closing paren),
# but Python reports it on line 2
round(3.14
print("hello")

## Glossary

**arithmetic operator:**
A symbol, like `+` and `*`, that denotes an arithmetic operation like addition or multiplication.

**integer:**
A type that represents whole numbers.

**floating-point:**
A type that represents numbers with fractional parts.

**integer division:**
An operator, `//`, that divides two numbers and rounds down to an integer.

**modulus:**
An operator, `%`, that returns the remainder after division.

**expression:**
A combination of variables, values, and operators.

**value:**
An integer, floating-point number, or string -- or one of other kinds of values we will see later.

**function:**
A named sequence of statements that performs some useful operation.
Functions may or may not take arguments and may or may not produce a result.

**function call:**
An expression -- or part of an expression -- that runs a function.
It consists of the function name followed by an argument list in parentheses.

**syntax error:**
An error in a program that makes it impossible to parse -- and therefore impossible to run.

**string:**
 A type that represents sequences of characters.

**concatenation:**
Joining two strings end-to-end.

**type:**
A category of values.
The types we have seen so far are integers (type `int`), floating-point numbers (type `float`), and strings (type `str`).

**operand:**
One of the values on which an operator operates.

## Problems

### Arithmetic Expressions

The following questions give you a chance to practice writing arithmetic expressions.

**★ 1.** How many seconds are there in 42 minutes 42 seconds?

In [ ]:
# your code here

**★ 2.** How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

In [ ]:
# your code here

**★★ 3.** If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?

In [ ]:
# your code here

**★★ 4.** What is your average pace in minutes and seconds per mile? Hint: use integer division and modulus.

In [ ]:
# your code here

**★★ 5.** What is your average speed in miles per hour?

In [ ]:
# your code here

---

Auburn University / Industrial and Systems Engineering  
INSY 3010 / Programming and Databases for ISE  
© Copyright Danny J. O'Leary.

This material is adapted from [*Think Python*, 3rd edition](https://greenteapress.com/wp/think-python-3rd-edition), by Allen B. Downey. For licensing, attribution, and information: [GitHub INSY3010](https://github.com/olearydj/INSY3010)